* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(8, 4, 19);
}

p {
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.67);
    margin-bottom: 30px;
}

header {
    background-color: rgba(255, 255, 255, 0.103);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
    height: 50px;
}

.logo {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.bar {
    display: flex;
    list-style: none;
}

.bar li {
    margin: 0 15px;
    color: inherit;
    text-transform: capitalize;
}

main {
    display: flex;
    padding: 50px;
    min-height: 80vh;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right img {
    display: inline-block;
    height: 80%;
}

footer {
    min-height: 20vh;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.103);
    display: flex;
    justify-content: center;
    align-items: center;
}